
@{    
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Bem vindo ao Sistema!</h2>
<hr />

<p>
    Escolha a ação desejada:
</p>

<ul>
    <li> <a href="/Account/Login">Autenticar Usuário</a> </li>
    <li> <a href="/Account/Register">Criar Conta</a> </li>
</ul>



