
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Carnaval COTI</title>

    <link href="~/bootstrap-4.4.1-dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <div class="card card-body bg-dark text-white">

            <div class="row">

                <div class="col-md-9">
                    <h3>Sistema de Controle de Usuários</h3>
                    <p>Projeto desenvolvido em .NET CORE MVC com Dapper, no Carnaval</p>
                </div>
                <div class="col-md-3">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span>Usuário autenticado:</span>
                        <br />
                        <strong>@User.Identity.Name</strong>

                        <div style="margin-top: 10px;">
                            <a href="/Account/Logout"
                               class="btn btn-danger btn-sm"
                               onclick="return confirm('Deseja realmente sair do sistema?');">
                                Sair 
                            </a>
                        </div>

                    }

                </div>

            </div>

        </div>
        <br />
        @RenderBody()

    </div>

</body>
</html>
